@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 3rem auto;
    /* border: 2px solid red; */
}

.nav-options {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    cursor: pointer;
    font-weight: 1rem;
    font-weight: 700;
    color: #3A3A3A;
}

.icon {
    gap: 1rem;
}

/* banner */
.banner-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: 70vh;
    margin: 3rem auto;
    /* border: 2px solid red; */
}

.banner-title h3 {
    font-size: 3.25rem;
    font-weight: 700;
    color: #3A3A3A;
}

.banner-title p {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}

.banner-title .btn-primary {
    border-radius: 40px;
    background: rgb(224, 44, 109);
    color: #fff;
    padding: 0.6rem 0.7rem;
}
.image{
    background: url('https://media.istockphoto.com/id/1401941077/vector/abstract-white-circle-layers-background.jpg?s=612x612&w=0&k=20&c=TjnaZlcR-Lg4_yP2xIHtkLo9sT9HRrIl3HMpLi6KI1A=');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 1rem;
}
.image img {
    width: 440px;
    height: 424px;

}